{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],
  "endOfLine": "auto"
}
