@import '../../../../styles/common.scss';


header {
    box-shadow: 0 1px 0 0 var(--borderLight);
    height: 4rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background);
    z-index: 2;
}