@import '../../../../styles/common.scss';

.header_wrapper {
  align-items: center;
  width: 100%;
  padding: 0 48px;
  background: var(--main-white);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include phone() {
    padding: 0px 12px;
    gap: 5px;
    flex-direction: column;
  }

  .profile {
    display: flex;
    gap: 16px;
    @include phone {
      width: 80%;
      justify-content: space-between;
    }
    
    .switch_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      @include phone {
        gap: 10px;
      }
    }

    // &_messenger {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   margin-right: 16px;
    //   width: 40px;
    //   height: 40px;
    //   background: rgba(255, 255, 255, 0.1);
    //   border-radius: 50%;

    //   &__icon {
    //     width: 25px;
    //     height: 25px;
    //   }
    // }

    &_avatar {
      position: relative;

      &__wrapper {
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }

      &__img {
        margin-right: 7px;

        .sb-avatar {
          span {
            @include Montserrat(14px, var(--main-white), 700, 120%);

            @include phone() {
              font-size: 12px;
            }
          }
        }
      }

      &__arrow {
        width: 10px;
        height: 6px;

        &.active {
          transform: rotate(180deg);
        }
      }

      &__burger {
        background-color: var(--main-white);
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 206px;
        top: 52px;
        right: 0;
        border: 2px solid var(--shades-3);
        border-radius: 6px;

        &:hover {
          cursor: pointer;
        }

        .burger_item {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 12px 16px;
          @include Montserrat(16px, var(--neutral-1), 400, 150%);

          &__icon {
            width: 17px;
            height: 17px;

            path {
              fill: var(--main-gray);
            }
          }
        }
      }
    }

    &__right-menu {
      display: flex;
      align-items: center;
      justify-self: center;

      &>*:not(.horizontal-divider) {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 7px 7px 7px 9px;
        @include Montserrat(16px, var(--text), 500, 140%);

        &:hover {
          cursor: pointer;
        }

        @include phone() {
          @include Montserrat(14px, var(--text), 500, 140%);
        }
      }

      .horizontal-divider {
        height: 16px;
        width: 3px;
        background: var(--primary);
        margin: 0 3px 0 5px;
      }
    }
  }
}

