:root {
  --primary: #D77158;
  --text: #3A3433;
  --textSecondary: #3A3433B3;
  --background: #FFFFFF;
  --background-1: #333333;
  --background-2: #222222;
  --background-3: #111111;
  --backgroundVariant: #FBF9F9;
  --backgroundInverse: #000000;
  --border: #3A34334D;
  --borderLight: #3A34330D;


  --white: #FFFFFF;
  --black: #000000;
  --dark-gray: #2B2B2B;
  --main-gray: #676767;

  --shades-1: #fafaf9;
  --shades-2: #f3f2f0;
  --shades-3: #edebe7;
  --shades-4: #d9d9d9;
  --shades-5: #a7a9ac;
  --shades-6: #e0d9cd;
  --shades-7: #aca392;
  --shades-8: #d2ebff;
  --shades-9: #023055;
  --shades-10: #145386;
  --shades-11: #565252;
  --shades-12: #457ca8;
  --shades-13: #EDEFF3;

  --secondary-teal: #009999;
  --secondary-dark-blue: #011b31;
  --secondary-4: #780008;
  --secondary-5: #ba2c2b;
  --secondary-6: #1b7084;
  --secondary-8: #712885;
}

$text--light: black;
$text--dark: white;
$bg--light: white;
$bg--dark: black;

$themes: (
        light: (
                bg: $bg--light,
                text: $text--light,
        ),
        dark: (
                bg: $bg--dark,
                text: $text--dark,
        ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}