@import '../../../../styles/common.scss';

.minimum_cost_wrapper {
    max-width: 900px;
    margin: 0px auto;
    margin-bottom: 40px;
    border: 1px solid var(--shades-2);
    border-radius: 8px;
    box-shadow: 2px 2px 0 rgba(var(--neutral-1-rgb),.05);
    background-color: var(--backgroundVariant);
}